[submodule "Biliboard-backend"]
	path = Biliboard-backend
	url = git@github.com:1zero224/Biliboard-backend.git
[submodule "Biliboard-frontend"]
	path = Biliboard-frontend
	url = git@github.com:1zero224/Biliboard-frontend.git
